

<section id="sectionPortadaCarrousel">

  <app-portada [portada_img]="imagenlogos.portada" ></app-portada>

</section>


<div class="cards-amigos" style="padding: 100px;">

  <div class="row">

    <section id="sectionCardAmigos">

      <div class="col-12">
        <h3>Amigos en adopción</h3>
      </div>

      <div class="col-12 row">
        <cardAmigos class="col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3"
                    *ngFor="let mascota of mascotas"
                    [imagenUrl]="mascota.imagenUrl"
                    [nombre]="mascota.nombre"
                    [edad]="mascota.edad"
                    [caracteristicas]="mascota.caracteristicas"
                    [id]="mascota.id">
        </cardAmigos>
      </div>

    </section>

    <section id="sectionCardAuspi" class="mt-5">

      <div class="col-12" id="auspiciantes">
        <h3>Auspiciantes</h3>
      </div>

      <div class="row " >

        <div class="container col-sm-6. col-md-4 col-lg-3 col-xl-2 col-xxl-1" *ngFor="let auspiciante of auspiciantes">
          <auspiciantes class="m-5"
                      [imagenAus]="auspiciante.imagenAus">
          </auspiciantes>
        </div>

      </div>

    </section>

    <section id="sectionNosotros" >

      <div class="col-12" id="quieneSomos">
        <h3>Quienes Somos  </h3>
      </div>

      <div class="col-12 row">

        <div class="container">
          <div class="row">
            <div class="container col-6">
              <p class="mb-1">
                Somos un equipo de amantes de los animales comprometidos con el bienestar de las mascotas.
                Nuestro objetivo es proporcionar un hogar seguro y lleno de amor para aquellos animales
                que buscan una segunda oportunidad, y ofrecer a sus futuros dueños los productos necesarios
                para cuidar de ellos con cariño y responsabilidad.
              </p>
              <p class="mb-2">
                Nos dedicamos a promover la adopción responsable de mascotas, ayudando a los animales a encontrar
                familias que les brinden un hogar lleno de afecto y cuidados. Creemos que cada mascota merece una
                vida plena y feliz, y trabajamos incansablemente para hacer de ello una realidad.
              </p>
              <p class="mb-1">
                Además de nuestra labor en la adopción, ofrecemos una amplia variedad de productos para el cuidado y
                bienestar de tus mascotas. Desde alimentos de calidad, hasta juguetes y accesorios, todo lo que necesitas
                para que tu amigo peludo viva cómodamente y se divierta.
              </p>
              <p class="mb-1">
                Nuestro equipo está formado por personas con años de experiencia en el cuidado de animales, quienes trabajan
                para brindarte la mejor asesoría y atención personalizada. Cada adopción y cada compra en nuestra tienda es parte
                de un compromiso con el bienestar animal y con el propósito de construir un futuro mejor para las mascotas.
              </p>
              <p class="mb-1">
                Únete a nosotros en nuestra misión de hacer del mundo un lugar más amable para los animales. Adopta, cuida y
                da lo mejor a tu compañero de vida. ¡Juntos podemos marcar la diferencia!
              </p>
            </div>
          </div>
        </div>

      </div>

    </section>


  </div>

</div>
