<div class="container-fluid d-flex align-items-center justify-content-center text-center"
     id="portada_Amigos"
     [ngStyle]="{'background-image': 'url(' + portada_img + ')'}">

  <div class="col-10 col-md-6 col-lg-4" id="card_amigosPortada">
    <div class="card w-100" id="card_conoceMas">
      <div class="card-body">
        <h4 class="card-title">Fundación Amigos Felices</h4>
        <p class="card-text">
          Aquí usted encontrará de todo para sus mascotas: comida, accesorios, productos de salud y mucho más.
        </p>
        <a href="#" class="btn" id="btn_conocemas">Conoce más...</a>
      </div>
    </div>
  </div>

</div>

