<nav class="navbar navbar-expand-lg" id="navbar-color">
  <div class="container-fluid d-flex justify-content-between">
    <!-- Logo y Formulario de búsqueda -->
    <div class="d-flex align-items-center">
      <a class="navbar-brand" href="#">
        <img [src]="logo" alt="Logo" width="60" height="60" class="d-inline-block align-text-top">
      </a>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search" style="width: 410px;">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>

    <!-- Botones a la derecha -->
    <div>
      <a class="btn me-2" id="Btnregistr" routerLink="/registrar">Registrarse</a>
      <button class="btn btn-secondary" id="Btnlogin" routerLink="/home">Login</button>
    </div>
  </div>
</nav>

<!-- Segundo navbar -->
<nav class="navbar navbar-expand-lg border-bottom" style="background: #1286CF;">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/adopcion">Adoptar</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#auspiciantes">Auspiciantes</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#quieneSomos" >Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contactoFoter">Contacto</a>
        </li>

      </ul>
    </div>
  </div>

</nav>
